{%extends 'base.html'%}
{% block title %}
  Корзина
{% endblock %}

{%block content%}
    <div class="container center">
      <h3 class="title">Корзина</h3>
      <div class="cart-info">
        <span class="cart-info__count-caption">Товары:</span>
        <span class="cart-info__count">0</span>
        <span class="cart-info__total-caption">Итого:</span>
        <span class="cart-info__total">0 сом</span>
      </div>

      <div class="empty-cart">
        <img src="./img/cart_cyan.svg">
        <p class="empty-cart__title">Ваша корзина пуста</p>
        <p class="empty-cart__desc">Товары хранятся в вашей корзине в течение 30 дней, после чего удаляюся</p>
      </div>



    </div>


{%endblock%}