{%extends 'base.html'%}

{% block title %}
{% endblock %}

{%block content%}
    <div class="container center">
      <h3 class="title">Корзина</h3>

      <div class="cart-info">
        <span class="cart-info__count-caption">Товары:</span>
        <span class="cart-info__count">2</span>
        <span class="cart-info__total-caption">Итого:</span>
        <span class="cart-info__total">1670 сом</span>
      </div>

      <div class="carts-list">
        <div class="cart-card">
          <button class="cart-card__close"></button>

          <img src="./img/1.jpg">

          <div class="cart-card__info">
            <span class="cart-card__title">Модель: CR2-S400</span>
            <span class="cart-card__desc">Большая ступенчатая система фильтрации питьевой воды</span>
          </div>

          <div class="cart-card__count">
            <button class="cart-card__dec">-</button>
            <span class="cart-card__count">1</span>
            <button class="cart-card__inc">+</button>
          </div>

          <span class="cart-card__price">925 с</span>
        </div>

        <div class="cart-card">
          <button class="cart-card__close"></button>

          <img src="./img/1.jpg">

          <div class="cart-card__info">
            <span class="cart-card__title">Модель: CR2-S400</span>
            <span class="cart-card__desc">Большая ступенчатая система фильтрации питьевой воды</span>
          </div>

          <div class="cart-card__count">
            <button class="cart-card__dec">-</button>
            <span class="cart-card__count">1</span>
            <button class="cart-card__inc">+</button>
          </div>

          <span class="cart-card__price">925 с</span>
        </div>
      </div>


      <div class="cart-buttons">
        <a class="button" href="#">Написать в What`s App</a>
        <a class="button" href="#">Позвонить</a>
      </div>

    </div>


 {% endblock %}