  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BishkekFilter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="./main.css">
  </head>
  <body>
    <div id="recall" class="recall">
      <div>
        <div class="recall__tg"></div>
        <div class="recall__wa"></div>
      </div>
    </div>

    <header class="container header">

      <a href="#" class="logo header__logo">
        <img class="logo__img" src="./img/logo.svg" alt="BishkekFilter">
      </a>

      <button class="hamburger"></button>

      <div class="mobile-menu">
        <nav class="mobile-menu__nav">
          <div class="nav__link nav__link--dropdown">
            Каталог

            <div class="nav__sub">
              <a href="#" class="nav__sublink">сервис центр</a>
              <a href="#" class="nav__sublink">оптовики</a>
              <a href="#" class="nav__sublink">оптовики</a>
            </div>

          </div>
          <a href="#" class="nav__link">сервис центр</a>
          <a href="#" class="nav__link">рассрочка</a>
          <a href="#" class="nav__link">оптовики</a>
          <div class="nav__link nav__link--dropdown">
            Каталог

            <div class="nav__sub">
              <a href="#" class="nav__sublink">сервис центр</a>
              <a href="#" class="nav__sublink">оптовики</a>
              <div class="nav__sublink nav__sublink--dropdown">
                Каталог

                <div class="nav__sub">
                  <a href="#" class="nav__sublink">сервис центр</a>
                  <a href="#" class="nav__sublink">оптовики</a>
                  <a href="#" class="nav__sublink">оптовики</a>
                </div>

              </div>
              <a href="#" class="nav__sublink">оптовики</a>
            </div>

          </div>
          <a href="#" class="nav__link">О нас</a>
          <a href="#" class="nav__link">Контакты</a>
        </nav>

        <div class="mobile-menu__contacts">
          <a href="#" class="header__contact">+996 707 590 505</a>
          <a href="#" class="header__contact">+996 550 590 505</a>
        </div>

        <div class="social mobile-menu__social">
          <a href="#" class="social__link"></a>
          <a href="#" class="social__link"></a>
        </div>
      </div>

      <div class="header__overlay"></div>

      <nav class="nav header__nav">
        <div class="nav__link nav__link--dropdown">
          <span>Каталог</span>
          <div class="nav__sub">
            <div class="nav__sublink nav__sublink--dropdown">
              <span>Sublink</span>
              <div class="nav__sub">
                <a href="#" class="nav__sublink">Сервис Центр</a>
                <a href="#" class="nav__sublink">Рассрочка</a>
                <a href="#" class="nav__sublink">Оптовики</a>
                <a href="#" class="nav__sublink">О нас</a>
              </div>
            </div>
            <a href="#" class="nav__sublink">Рассрочка</a>
            <div class="nav__sublink nav__sublink--dropdown">
              <span>Sublink</span>
              <div class="nav__sub">
                <a href="#" class="nav__sublink">Сервис Центр</a>
                <a href="#" class="nav__sublink">Рассрочка</a>
                <a href="#" class="nav__sublink">Оптовики</a>
                <a href="#" class="nav__sublink">О нас</a>
              </div>
            </div>
            <a href="#" class="nav__sublink">О нас</a>
          </div>
        </div>
        <a href="#" class="nav__link">Сервис Центр</a>
        <a href="#" class="nav__link">Рассрочка</a>
        <a href="#" class="nav__link">Оптовики</a>
        <a href="#" class="nav__link">О нас</a>
        <a href="#" class="nav__link">Контакты</a>
      </nav>

      <div class="header__contacts">
        <a href="#" class="header__contact">+996 707 590 505</a>
        <a href="#" class="header__contact">+996 550 590 505</a>
      </div>

      <a href="#" class="cart">
        <span>2</span>
      </a>

    </header>




    <div class="container center">
      <h3 class="title">Корзина</h3>

      <div class="cart-info">
        <span class="cart-info__count-caption">Товары:</span>
        <span class="cart-info__count">0</span>
        <span class="cart-info__total-caption">Итого:</span>
        <span class="cart-info__total">0 сом</span>
      </div>

      <div class="empty-cart">
        <img src="./img/cart_cyan.svg">
        <p class="empty-cart__title">Ваша корзина пуста</p>
        <p class="empty-cart__desc">Товары хранятся в вашей корзине в течение 30 дней, после чего удаляюся</p>
      </div>



    </div>


    <footer class="footer">
      <div class="container footer__wrapper">
        <a href="#" class="footer__logo">
          <img src="./img/logo_footer.svg">
        </a>

        <div class="header__contacts">
          <a href="#" class="header__contact">+996 707 590 505</a>
          <a href="#" class="header__contact">+996 550 590 505</a>
        </div>

        <p class="footer__addr">ул. Ш. Руставели 111. г.Бишкек, Кыргызстан</p>

        <div class="social footer__social">
          <a href="#" class="social__link"></a>
          <a href="#" class="social__link"></a>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>
    <script src="./main.js" defer></script>
  </body>
  </html>
