{% extends 'base.html' %}

{%block title %}

{%endblock%}
{%block content%}
    <div class="container products">
      <h3 class="title">Система фильтрации воды грубой очистки</h3>

      <div class="products__slider products__slider--1">

        <div>
          <a href="#" class="card">
            <img src="./img/1.jpg">
            <h5 class="card__title">
              Sole Aqua 4-ступенчатая система питья
            </h5>
            <p class="card__desc">Большая ступенчатая система фильтрации питьевой воды обратного осмоса с 6 ступенями</p>
            <div class="card__footer">
              <span class="card__price">925 c</span>
              <span class="card__cart"></span>
            </div>
          </a>
        </div>

        <div>
          <a href="#" class="card">
            <img src="./img/1.jpg">
            <h5 class="card__title">
              Sole Aqua 4-ступенчатая система питья
            </h5>
            <p class="card__desc">Большая ступенчатая система фильтрации питьевой воды обратного осмоса с 6 ступенями</p>
            <div class="card__footer">
              <span class="card__price">925 c</span>
              <span class="card__cart"></span>
            </div>
          </a>
        </div>

        <div>
          <a href="#" class="card">
            <img src="./img/1.jpg">
            <h5 class="card__title">
              Sole Aqua 4-ступенчатая система питья
            </h5>
            <p class="card__desc">Большая ступенчатая система фильтрации питьевой воды обратного осмоса с 6 ступенями</p>
            <div class="card__footer">
              <span class="card__price">925 c</span>
              <span class="card__cart"></span>
            </div>
          </a>
        </div>

        <div>
          <a href="#" class="card">
            <img src="./img/1.jpg">
            <h5 class="card__title">
              Sole Aqua 4-ступенчатая система питья
            </h5>
            <p class="card__desc">Большая ступенчатая система фильтрации питьевой воды обратного осмоса с 6 ступенями</p>
            <div class="card__footer">
              <span class="card__price">925 c</span>
              <span class="card__cart"></span>
            </div>
          </a>
        </div>

        <div>
          <a href="#" class="card">
            <img src="./img/1.jpg">
            <h5 class="card__title">
              Sole Aqua 4-ступенчатая система питья
            </h5>
            <p class="card__desc">Большая ступенчатая система фильтрации питьевой воды обратного осмоса с 6 ступенями</p>
            <div class="card__footer">
              <span class="card__price">925 c</span>
              <span class="card__cart"></span>
            </div>
          </a>
        </div>


      </div>

      <div class="show-more-wrapper">
        <a href="#" class="show-more">Показать еще</a>
      </div>
    </div>

{%endblock%}