{%extends 'base.html' %}

{%block title%}

{%endblock%}

{%block content%}


    <div class="container shares">

      <div class="shares__slider-wrapper">
        <div class="shares__1"></div>
        <div class="shares__2"></div>

        <button class="shares__slider-left"></button>
        <button class="shares__slider-right"></button>

        <div class="shares__slider">

          <div>
            <a href="#" class="card-mini">
              <div class="card-mini__img">
                <img src="./img/1.jpg">
                <span class="card__percent">-55%</span>
              </div>

              <div class="card-mini__price">
                <p class="old-price">2500 с</p>
                <p class="new-price">1050 с</p>
              </div>

              <p class="card-mini__desc">Sole Aqua 4-ступенчатая система питья</p>
            </a>

            <a href="#" class="card-mini">
              <div class="card-mini__img">
                <img src="./img/1.jpg">
                <span class="card__percent">-55%</span>
              </div>

              <div class="card-mini__price">
                <p class="old-price">2500 с</p>
                <p class="new-price">1050 с</p>
              </div>

              <p class="card-mini__desc">Sole Aqua 4-ступенчатая система питья</p>
            </a>

            <a href="#" class="card-mini">
              <div class="card-mini__img">
                <img src="./img/1.jpg">
                <span class="card__percent">-55%</span>
              </div>

              <div class="card-mini__price">
                <p class="old-price">2500 с</p>
                <p class="new-price">1050 с</p>
              </div>

              <p class="card-mini__desc">Sole Aqua 4-ступенчатая система питья</p>
            </a>

            <a href="#" class="card-mini">
              <div class="card-mini__img">
                <img src="./img/1.jpg">
                <span class="card__percent">-55%</span>
              </div>

              <div class="card-mini__price">
                <p class="old-price">2500 с</p>
                <p class="new-price">1050 с</p>
              </div>

              <p class="card-mini__desc">Sole Aqua 4-ступенчатая система питья</p>
            </a>

            <a href="#" class="card-mini">
              <div class="card-mini__img">
                <img src="./img/1.jpg">
                <span class="card__percent">-55%</span>
              </div>

              <div class="card-mini__price">
                <p class="old-price">2500 с</p>
                <p class="new-price">1050 с</p>
              </div>

              <p class="card-mini__desc">Sole Aqua 4-ступенчатая система питья</p>
            </a>

            <a href="#" class="card-mini">
              <div class="card-mini__img">
                <img src="./img/1.jpg">
                <span class="card__percent">-55%</span>
              </div>

              <div class="card-mini__price">
                <p class="old-price">2500 с</p>
                <p class="new-price">1050 с</p>
              </div>

              <p class="card-mini__desc">Sole Aqua 4-ступенчатая система питья</p>
            </a>
          </div>

          <div>
            <a href="#" class="card-mini">
              <div class="card-mini__img">
                <img src="./img/1.jpg">
                <span class="card__percent">-55%</span>
              </div>

              <div class="card-mini__price">
                <p class="old-price">2500 с</p>
                <p class="new-price">1050 с</p>
              </div>

              <p class="card-mini__desc">Sole Aqua 4-ступенчатая система питья</p>
            </a>

            <a href="#" class="card-mini">
              <div class="card-mini__img">
                <img src="./img/1.jpg">
                <span class="card__percent">-55%</span>
              </div>

              <div class="card-mini__price">
                <p class="old-price">2500 с</p>
                <p class="new-price">1050 с</p>
              </div>

              <p class="card-mini__desc">Sole Aqua 4-ступенчатая система питья</p>
            </a>

            <a href="#" class="card-mini">
              <div class="card-mini__img">
                <img src="./img/1.jpg">
                <span class="card__percent">-55%</span>
              </div>

              <div class="card-mini__price">
                <p class="old-price">2500 с</p>
                <p class="new-price">1050 с</p>
              </div>

              <p class="card-mini__desc">Sole Aqua 4-ступенчатая система питья</p>
            </a>

            <a href="#" class="card-mini">
              <div class="card-mini__img">
                <img src="./img/1.jpg">
                <span class="card__percent">-55%</span>
              </div>

              <div class="card-mini__price">
                <p class="old-price">2500 с</p>
                <p class="new-price">1050 с</p>
              </div>

              <p class="card-mini__desc">Sole Aqua 4-ступенчатая система питья</p>
            </a>

            <a href="#" class="card-mini">
              <div class="card-mini__img">
                <img src="./img/1.jpg">
                <span class="card__percent">-55%</span>
              </div>

              <div class="card-mini__price">
                <p class="old-price">2500 с</p>
                <p class="new-price">1050 с</p>
              </div>

              <p class="card-mini__desc">Sole Aqua 4-ступенчатая система питья</p>
            </a>

            <a href="#" class="card-mini">
              <div class="card-mini__img">
                <img src="./img/1.jpg">
                <span class="card__percent">-55%</span>
              </div>

              <div class="card-mini__price">
                <p class="old-price">2500 с</p>
                <p class="new-price">1050 с</p>
              </div>

              <p class="card-mini__desc">Sole Aqua 4-ступенчатая система питья</p>
            </a>
          </div>


        </div>

      </div>

      <div class="sort">
        <span class="sort__caption">Сортировать по:</span>
        <a href="#" class="sort__link">Популярности</a>
        <a href="#" class="sort__link">Рейтингу</a>
        <a href="#" class="sort__link">Цене</a>
        <a href="#" class="sort__link">Скидке</a>
        <a href="#" class="sort__link">Обновлению</a>
      </div>

    </div>


    <div class="container products">
      <div class="products__slider products__slider--1">

        <div>
          <a href="#" class="card">
            <img src="./img/1.jpg">
            <h5 class="card__title">
              Sole Aqua 4-ступенчатая система питья
            </h5>
            <p class="card__desc">Большая ступенчатая система фильтрации питьевой воды обратного осмоса с 6 ступенями</p>
            <div class="card__footer">
              <span class="card__price">925 c</span>
              <span class="card__cart"></span>
            </div>
          </a>
        </div>

        <div>
          <a href="#" class="card">
            <img src="./img/1.jpg">
            <h5 class="card__title">
              Sole Aqua 4-ступенчатая система питья
            </h5>
            <p class="card__desc">Большая ступенчатая система фильтрации питьевой воды обратного осмоса с 6 ступенями</p>
            <div class="card__footer">
              <span class="card__price">925 c</span>
              <span class="card__cart"></span>
            </div>
          </a>
        </div>

        <div>
          <a href="#" class="card">
            <img src="./img/1.jpg">
            <h5 class="card__title">
              Sole Aqua 4-ступенчатая система питья
            </h5>
            <p class="card__desc">Большая ступенчатая система фильтрации питьевой воды обратного осмоса с 6 ступенями</p>
            <div class="card__footer">
              <span class="card__price">925 c</span>
              <span class="card__cart"></span>
            </div>
          </a>
        </div>

        <div>
          <a href="#" class="card">
            <img src="./img/1.jpg">
            <h5 class="card__title">
              Sole Aqua 4-ступенчатая система питья
            </h5>
            <p class="card__desc">Большая ступенчатая система фильтрации питьевой воды обратного осмоса с 6 ступенями</p>
            <div class="card__footer">
              <span class="card__price">925 c</span>
              <span class="card__cart"></span>
            </div>
          </a>
        </div>

        <div>
          <a href="#" class="card">
            <img src="./img/1.jpg">
            <h5 class="card__title">
              Sole Aqua 4-ступенчатая система питья
            </h5>
            <p class="card__desc">Большая ступенчатая система фильтрации питьевой воды обратного осмоса с 6 ступенями</p>
            <div class="card__footer">
              <span class="card__price">925 c</span>
              <span class="card__cart"></span>
            </div>
          </a>
        </div>


      </div>

      <div class="show-more-wrapper">
        <a href="#" class="show-more">Показать еще</a>
      </div>
    </div>
{%endblock%}