*,
* + * {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

@font-face {
    font-family: 'Mplus 1p';
    src: url('./fonts/Mplus1p-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mplus 1p';
    src: url('./fonts/Mplus1p-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


body {
  margin: 0;
  font-family: 'Mplus 1p', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1170px;
  padding: 0 30px;
}

.logo {
  max-width: 159px;
  display: flex;
}

.logo img {
  width: 100%;
}

.header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 60px;
}

.header__nav {
  margin: 0 auto;
  display: flex;
}

.header__contacts {
  margin-right: 34px;
  position: relative;
  padding-left: 45px;
}

.header__contacts::before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-image: url('./img/phone.svg'), linear-gradient(180deg, #29ABE2 0%, #65E8EF 100%);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 6px 0.1px rgba(64, 190, 231, 0.4);
}

.header__contact {
  display: block;
  font-size: 14px;
  color: #36667B;
  text-decoration: none;
}

.nav__link {
  font-size: 14px;
  color: #36667B;
  text-decoration: none;
  text-transform: uppercase;
  height: 40px;
  padding-top: 0px;
  display: flex;
  align-items: center;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link:not(:last-child) {
  margin-right: 33px;
}

.nav__link--dropdown {
  position: relative;
  cursor: pointer;
}

.nav__link--dropdown::before {
  content: '';
  position: absolute;
  background-image: url('./img/arrow_down.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  right: -17px;
  top: calc(50% - 8px);
}

.nav__sub {
  border: 1px solid rgba(214, 214, 214, 0.5);
  background-color: #fff;
  border-radius: 5px 0px 0px 5px;
  flex-flow: column;
  position: absolute;
  top: 40px;
  left: 0;
  width: 222px;
  display: none;
  z-index: 1;
  padding: 9px 0;
}

.nav__sublink {
  font-family: Mplus 1p;
  font-size: 14px;
  color: #36667B;
  text-transform: lowercase;
  text-decoration: none;
  padding: 4px 11px;
  position: relative;
}

.nav__link--dropdown:hover > .nav__sub {
  display: flex;
}


.nav__sublink--dropdown .nav__sub {
  top: -10px;
  left: 100%;
  border-radius: 0px 5px 5px 0px;
}

.nav__sublink:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav__sublink--dropdown:hover .nav__sub {
  display: flex;
}



.social {
  display: flex;
}

.social__link {
  width: 20px;
  height: 20px;
  background-image: url('./img/insta.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.social__link:not(:last-child) {
  margin-right: 27px;
}






.title {
  color: #3B6A7E;
  font-size: 35px;
  margin: 0;
  font-weight: normal;
  position: relative;
  padding-left: 17px;
  margin-bottom: 20px;
}

.title::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 41px;
  top: 0;
  left: 0;
  background-color: #40BEE7;
}

.cart {
  width: 28px;
  height: 28px;
  background-image: url('./img/cart_cyan.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.cart span {
  background: linear-gradient(0deg, #60E3EE 1.39%, #2FB2E3 100%);
  font-size: 14px;
  font-weight: 500;
  border-radius: 100%;
  width: 21px;
  height: 21px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  top: -10px;
  right: -12px;
}

.cart__label {
  position: absolute;
  width: 23px;
  height: 23px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  background-color: #36667B;
  border-radius: 100%;
  text-align: center;
  top: -13px;
  right: -13px;
}


.shares {
  margin: 0 auto;
  margin-bottom: 48px;
}

.shares .slick-slide {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(204px, 1fr) 171px; 
  grid-gap: 56px 20px;
}


.card-mini {
  display: flex;
  text-decoration: none;
  background: #6EBF85;
  padding: 14px 12px 11px 24px;
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  color: #fff;
  display: grid;
  grid-template-columns: minmax(142px, 1fr) 1fr;
  grid-gap: 3px;
}

.card-mini__img {
  display: flex;
  margin-bottom: 3px;
  margin-right: 10px;
  position: relative;
}

.card__percent {
  position: absolute;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  background: #630EFF;
  border-radius: 2px;
  padding: 4px 18px;
  top: 7px;
  left: -10px;
}


.card-mini__img img {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  max-width: 143px;
  max-height: 142px;
}

.card-mini__desc {
  margin: 0;
  font-size: 14px;
  grid-column: span 2;
}

.card-mini__price p {
  margin: 0;
}

.old-price {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.44);
  text-decoration: line-through;
}

.new-price {
  font-size: 18px;
  font-weight: 900;
  font-family: Mplus 1p;

}

.shares .slick-slide .card-mini:nth-child(1) {
  grid-column: 1 / 4
}

.shares .slick-slide .card-mini:nth-child(2) {
  grid-column: 4 / 7;
}

.shares .slick-slide .card-mini:nth-child(3) {
  grid-column: 7 / 10;
}

.shares .slick-slide .card-mini:nth-child(4) {
  grid-column: 10 / 13
}

.shares .slick-slide .card-mini:nth-child(5) {
  grid-column: 1 / 5;
  padding: 14px 14px 14px 28px;
  grid-template-columns: 4fr 5fr;
  grid-template-rows: minmax(51px, 1fr) minmax(37px, 1fr);
}

.shares .slick-slide .card-mini:nth-child(5) .card-mini__img {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.shares .slick-slide .card-mini:nth-child(5) .card-mini__desc {
  grid-column: 2 / 3;
  grid-row: 1 / 1;
  padding-top: 30px;
}

.shares .slick-slide .card-mini:nth-child(5) .card-mini__price {
  grid-column: 2 / 3;
  grid-row: 2 / 2;
}





.shares .slick-slide .card-mini:nth-child(6) {
  grid-column: 9 / 13;
  grid-template-columns: 4fr 5fr;
  grid-template-rows: 1fr 1fr;
}

.shares .slick-slide .card-mini:nth-child(6) .card-mini__img {
  grid-column: 2 / -1;
  grid-row: 1 / 3;
}

.shares .slick-slide .card-mini:nth-child(6) .card-mini__desc {
  grid-column: 1 / 2;
  grid-row: 1 / 1;
  padding-top: 30px;
}

.shares .slick-slide .card-mini:nth-child(6) .card-mini__price {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.shares .slick-dots {
  margin: 64px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.shares .slick-dots li {
  display: flex;
  margin-right: 13px;
}

.shares .slick-dots li:last-child {
  margin-right: 0;
}

.shares .slick-dots li button {
  font-size: 0px;
  width: 12px;
  height: 12px;
  background: rgba(42, 172, 226, 0.2);
  border-radius: 100%;
  border: 0;
  cursor: pointer;
}

.shares .slick-dots li.slick-active button {
  background: #719AFF;
}



.shares__slider-wrapper {
  position: relative;
  border-radius: 5px;
  margin-top: 24px;
  margin-bottom: 44px;
}

.shares__slider-left {
  z-index: 1;
  position: absolute;
  left: -17px;
  width: 34px;
  height: 34px;
  background-image: url('./img/left_arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: #fff;
  border: 1px solid #D6D6D6;
  border-radius: 2px;
  cursor: pointer;
  top: calc(50% - 34px / 2 - 23px);
}

.shares__slider-right {
  z-index: 1;
  position: absolute;
  width: 34px;
  height: 34px;
  right: -17px;
  background-image: url('./img/right_arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: #fff;
  border: 1px solid #D6D6D6;
  border-radius: 2px;
  cursor: pointer;
  top: calc(50% - 34px / 2 - 23px);
}


.shares__1 {
  position: absolute;
  width: 598px;
  height: 74px;
  background-image: url('./img/shares_2.png');
  z-index: 1;
  top: 44%;
  left: calc(50% - 598px / 2)
}


.shares__2 {
  position: absolute;
  width: 330px;
  height: 42px;
  background-image: url('./img/shares_1.png');
  background-position: center;
  z-index: 1;
  top: 60%;
  left: calc(50% - 330px / 2)
}


.sort__caption {
  color: #A2A2A2;
  font-size: 16px;
  font-family: 'Mplus 1p', sans-serif;
  margin-right: 10px;
}

.sort__link {
  color: #444148;
  font-size: 16px;
  font-family: 'Mplus 1p', sans-serif;
  text-decoration: none;
  border-bottom: 1px dashed #A2A2A2;
}

.sort__link:not(:last-child) {
  margin-right: 10px;
}




.products {
  margin: 0 auto 50px;
}

.products__slider {
  margin: 27px 0 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 70px 10px;
  justify-items: center;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444148;
  max-width: 276px;
  padding: 10px 16px 14px;
  align-items: center;
  background-color: #FFFFFF;
  transition: all 300ms ease;
  border: 0.5px solid #D6D6D6;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0px 0px 10px 2px rgba(64, 190, 231, 0.15);
  transform: scale(1.05);
}

.card img {
  max-width: 230px;
  margin-bottom: 17px;
}

.card__desc {
  color: #3A2F2F;
  font-weight: 300;
  font-family: 'Mplus 1p', sans-serif;
  font-size: 13px;
  line-height: 19px;
  margin: 0;
  margin-bottom: 13px;
}

.card__title {
  margin: 0;
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: normal;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card__price {
  color: #3A2F2F;
  font-size: 21px;
  font-weight: normal;
  margin-right: auto;
}

.card__cart {
  width: 21px;
  height: 19px;
  background-image: url("{%static 'img/cart_light.svg' %}");
}

.products__all {
  color: #444148;
  font-size: 16px;
  float: right;
}


.footer {
  background-color: #36667B;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px 0;
}

.footer .header__contact {
  color: #fff;
}

.footer .header__contacts {
  margin: 0;
}

.footer__addr {
  color: #fff;
  position: relative;
  padding-left: 35px;
  margin: 0;
}

.footer__addr::before {
  content: '';
  position: absolute;
  left: 0;
  top: -7px;
  background-image: url('./img/marker_gr.svg');
  background-position: center;
  width: 23px;
  height: 37px;
}

.footer__logo {
  max-width: 197px;
  display: flex;
}

.footer__logo img {
  width: 100%;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer__social .social__link {
  background-image: url('./img/inst_cyan.svg');
  width: 36px;
  height: 36px;
  border: 1px solid #65E8EF;
  box-shadow: 0px 0px 6px 1px rgba(64, 190, 231, 0.4);
  border-radius: 5px;
}

.footer__social .social__link:nth-child(2) {
  background-image: url('./img/fb_cyan.svg');
}






.hamburger {
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: 20px;
  background-image: url('./img/menu.svg');
  background-position: center;
  background-color: transparent;
  border: none;
}

.mobile-menu {
  transition: all 300ms ease;
  transform: translateX(-100%);
  position: fixed;
  background-color: #fff;
  width: 80%;
  max-width: 280px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 4;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.mobile-menu--open {
  transform: translateX(0);
}

.mobile-menu__nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.mobile-menu__nav .nav__link {
  padding: 10px 20px;
  width: 100%;
}

.mobile-menu__contacts {
  margin-bottom: 30px;
}

.mobile-menu__contacts .header__contact {
  padding: 10px 20px;
  width: 100%;
}

.mobile-menu__social {
  margin-left: 20px;
}


.mobile-menu .nav__sublink {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mobile-menu .nav__sublink--dropdown .nav__sub {
  left: 0;
  top: 35px;
}

.header__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease;
}

.header__overlay--darken {
  opacity: 1;
  pointer-events: all;
}

.show-more-wrapper {
  display: flex;
  justify-content: center;
}

.show-more {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  background-color: #31B3E3;
  border-radius: 5px;
  text-decoration: none;
  padding: 11px 37px;
}



.recall {
  width: 50px;
  height: 50px;
  background: url('./img/message.svg'), linear-gradient(180deg, #29ABE2 0%, #65E8EF 100%);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 100%;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.recall__wa {
  width: 44px;
  height: 44px;
  background-image: url('./img/wa.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.recall__tg {
  width: 44px;
  margin-bottom: 10px;
  height: 44px;
  background-image: url('./img/tg.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.recall > div {
  display: flex;
  flex-flow: column;
  height: 120px;
  position: relative;
  bottom: 110px;
  align-items: center;
  justify-content: center;
  display: none
}

.recall:hover > div {
  display: block;
}




@media (min-width: 1200px) {
  .hamburger {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .header__overlay {
    display: none;
  }
}

@media (max-width: 1200px) {
  .nav,
  .header .header__contacts {
    display: none;
  }
}

@media (max-width: 780px) {
  .search__label {
    margin-right: 10px;
  }

  .footer__wrapper {
    flex-flow: column;
  }

  .footer__wrapper > *:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (max-width: 550px) {
  .search__label {
    max-width: 80%;
  }

  .card {
    margin: 0 auto;
  }
}

@media (max-width: 370px) {
  .footer__wrapper {
    flex-direction: column;
  }

  .footer__logo {
    margin-bottom: 40px;
  }
}


@media (max-width: 1000px) {
  .shares {
    display: none;
  }
}






p {
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 20px;
}
.subtitle {
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #3B6A7E;
  margin: 0;
  margin-bottom: 15px;
}

.subtitle-2 {
  font-family: Mplus 1p;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #3B6A7E;
  margin: 0;
  margin-bottom: 15px;
}

ul {
  padding: 0;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

.center {
  margin: 0 auto;
}

body {
  display: flex;
  flex-flow: column;
}

footer {
  margin-top: auto;
}

.container {
  width: 100%;
  padding-bottom: 30px;
}

header {
  width: 100%;
}





.cart-card {
  border: 0.5px solid #ECECEC;
  border-radius: 5px;
  display: flex;
  position: relative;
  padding: 16px 40px 16px 0;
  align-items: center;
  max-width: 634px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cart-card img {
  max-width: 118px;
  margin: 10px;
}

.cart-card__close {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('./img/close_dark.svg') center / contain no-repeat;
  border: 0;
  cursor: pointer;
  right: 14px;
  top: 14px;
}

.cart-card__info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 233px;
}

.cart-card__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #444148;
  margin-bottom: 5px;
}

.cart-card__desc {
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  color: #3A2F2F;
}

.cart-card__count {
  display: flex;
}


.cart-card__dec,
.cart-card__inc {
  width: 23px;
  height: 23px;
  border: 1px solid #65E8EF;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
}

.cart-card__dec {
  margin-right: 7px;
}

.cart-card__count {
  margin-right: 7px;
}

.cart-card__price {
  font-weight: 500;
  font-size: 19px;
  line-height: 36px;
  color: #444148;
}


.cart-info {
  margin-bottom: 35px;
  display: flex;
}

.cart-info__count-caption,
.cart-info__total-caption {
  margin-right: 5px;
}

.cart-info__count {
  margin-right: 32px;
}



@media (max-width: 630px) {
  .cart-card {
    flex-flow: column;
    justify-content: center;
    padding: 10px;
    align-items: center;
    text-align: center;
  }

  .cart-card__desc {
    margin-bottom: 20px;
  }

  .cart-card__count {
    margin-bottom: 10px;
  }
}

/* стили для кнопки обновить в корзине  */
.button-input{
    color: #fff;
    margin-left:3px;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 10px;
  background: #31B3E3;
  border-radius: 5px;
  text-decoration: none;
}

.button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 60px;
  background: #31B3E3;
  border-radius: 5px;
  text-decoration: none;
}

.cart-buttons {
  max-width: 634px;
  display: flex;
  justify-content: flex-end;
}

.cart-buttons .button:first-child {
  margin-right: 27px;
}

@media (max-width: 630px) {
  .cart-buttons {
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .cart-buttons .button:first-child {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .button {
    padding: 10px 20px;
  }

}


.empty-cart {
  max-width: 389px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 20px;
}

.empty-cart img {
  width: 59px;
  height: 52px;
}

.empty-cart__title {
  font-weight: normal;
  font-size: 35px;
  line-height: 41px;
  color: #3B6A7E;
}

.empty-cart__desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444148;
}


.contacts__1 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.contacts__2 {
  margin-bottom: 30px;
}


.contacts__3 {
  display: flex;
}

.contacts__img {
  width: 100px;
  height: 100px;
  display: flex;
  margin: 15px;
}

.contacts__img img {
  width: 100%;
  object-fit: contain;
}

@media (max-width: 680px) {
  .contacts__1 {
    flex-flow: column;
  }

  .contacts__1 .header__contacts {
    margin-bottom: 20px;
  }

  .contacts__2 .social {
    justify-content: center;
  }
}
