{%extends 'base.html'%}
{%block title%}
 О нас
{% endblock %}

{% block content %}
    <div class="container center">
      <h3 class="title">О нас</h3>

      <h5 class="subtitle">Поставщиками являются официальные заводы Тайваня, Южной Кореи и других стран</h5>

      <h6 class="subtitle-2">Является профессиональным производителем:</h6>

      <ul>
        <li>Фильтров для очистки питьевой воды различного профиля: для домов и квартир, многоквартирных домов, коммерческого назначения (для кафе, ресторанов, гостиниц, хостелов и т.д.);</li>
        <li>Фильтров для душа, стиральных и мосудомоечных машин.</li>
        <li>Различных частей корпусов фильтров</li>
        <li>Картриджей</li>
      </ul>

    </div>
{% endblock %}
