  <!DOCTYPE html>
  <html lang="en">
  <head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        BishkekFilter
        {%endblock%}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
  </head>
  <body>
    <div id="recall" class="recall">
      <div>
        <div class="recall__tg"></div>
        <div class="recall__wa"></div>
      </div>
    </div>

    <header class="container header">

      <a href="{% url 'product_list' %}" class="logo header__logo">
        <img class="logo__img" src="{%static 'img/logo.svg' %}" alt="BishkekFilter">
      </a>

      <button class="hamburger"></button>

      <div class="mobile-menu">
        <nav class="mobile-menu__nav">

          <div class="nav__link nav__link--dropdown">
            Каталог
            <div class="nav__sub">
              <a href="#" class="nav__sublink">сервис центр</a>
              <a href="#" class="nav__sublink">оптовики</a>
              <a href="#" class="nav__sublink">оптовики</a>
            </div>

          </div>
          <a href="#" class="nav__link">сервис центр</a>
          <a href="#" class="nav__link">рассрочка</a>
          <a href="#" class="nav__link">оптовики</a>
          <div class="nav__link nav__link--dropdown">
            Каталог
            <div class="nav__sub">
              <a href="#" class="nav__sublink">сервис центр</a>
              <a href="#" class="nav__sublink">оптовики</a>
              <div class="nav__sublink nav__sublink--dropdown">
                Каталог
                <div class="nav__sub">
                  <a href="#" class="nav__sublink">сервис центр</a>
                  <a href="#" class="nav__sublink">оптовики</a>
                  <a href="#" class="nav__sublink">оптовики</a>
                </div>

              </div>
              <a href="#" class="nav__sublink">оптовики</a>
            </div>

          </div>
          <a href="#" class="nav__link">О нас</a>
          <a href="#" class="nav__link">Контакты</a>
        </nav>




        <div class="mobile-menu__contacts">
          <a href="#" class="header__contact">+996 707 590 505</a>
          <a href="#" class="header__contact">+996 550 590 505</a>
        </div>
        <div class="social mobile-menu__social">
          <a href="#" class="social__link"></a>
          <a href="#" class="social__link"></a>
        </div>
      </div>

      <div class="header__overlay"></div>

      <nav class="nav header__nav">
        <div class="nav__link nav__link--dropdown">
          <span>
             <a href="{% url 'product_list' %}" style="text-decoration:none; color: #36667B;">
            Каталог
            </a>
          </span>

          <div class="nav__sub">
            {%for category in categories %}
            <div class="nav__sublink nav__sublink--dropdown">
            {%if  category.child_categories.all %}
              <span>
              <a href="{% url 'category_list' category.slug %}" style="text-decoration:none; color: #36667B;">
                {{category.name}}
              </a>
              </span>
              <div class="nav__sub">
                {% for sub_category in category.child_categories.all %}
                <a href="{% url 'sub_category_list' category.slug sub_category.slug %}" class="nav__sublink">{{ sub_category.name }}</a>
                {% endfor %}
            {% else %}
                <a href="{% url 'category_list' category.slug %}" class="nav__sublink">{{category.name}}</a>
            {% endif %}
              </div>

          </div>
              {% endfor %}
        </div>
        </div>




        <a href="{% url 'garanty' %}" class="nav__link">Сервис Центр</a>
        <a href="{% url 'installment' %}" class="nav__link">Рассрочка</a>
        <a href="{% url 'wholesalers' %}" class="nav__link">Оптовики</a>
        <a href="{% url 'about' %}" class="nav__link">О нас</a>
        <a href="{% url 'contacts' %}" class="nav__link">Контакты</a>
      </nav>

      <div class="header__contacts">
        <a href="#" class="header__contact">+996 707 590 505</a>
        <a href="#" class="header__contact">+996 550 590 505</a>
      </div>

      <a href="#" class="cart">
        <span>2</span>
      </a>

    </header>
    {% block content %}


    {% endblock %}
    <footer class="footer">
      <div class="container footer__wrapper">
        <a href="#" class="footer__logo">
          <img src="{%static 'img/logo_footer.svg' %}">
        </a>

        <div class="header__contacts">
          <a href="#" class="header__contact">+996 707 590 505</a>
          <a href="#" class="header__contact">+996 550 590 505</a>
        </div>

        <p class="footer__addr">ул. Ш. Руставели 111. г.Бишкек, Кыргызстан</p>

        <div class="social footer__social">
          <a href="#" class="social__link"></a>
          <a href="#" class="social__link"></a>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>
    <script src="{% static 'main.js' %}" defer></script>
  </body>
  </html>
