{% extends 'base.html' %}
{%load static %}
{% block title %}
Контакты

{% endblock %}

{%block content%}

    <div class="container center">
      <h3 class="title">Контакты</h3>


      <div class="contacts__1"> 
        <div class="header__contacts">
          <a href="tel:+996707590505" class="header__contact">+996 707 590 505</a>
          <a href="tel:+996550590505" class="header__contact">+996 550 590 505</a>
        </div>

        <p class="footer__addr" style="color: #3B6A7E;">ул. Ш. Руставели 111. г.Бишкек, Кыргызстан</p>
      </div>

      <div class="contacts__2">
        <div class="social footer__social">
          <a href="#" class="social__link"></a>
          <a href="#" class="social__link"></a>
        </div>
      </div>

      <div class="contacts__3">
        <a class="contacts__img" href="#">
          <img src="{% static 'img/go.png' %}">
        </a>
        <a class="contacts__img" href="#">
          <img src="{% static 'img/ya.png' %}">
        </a>
      </div>


    </div>


  {% endblock %}