{%extends 'base.html'%}

{%block title%}
Сервисная гарантия
{%endblock%}

{%block content%}

    <div class="container center">
      <h3 class="title">Сервисная гарантия</h3>

      <h5 class="subtitle">Услуги по установке и ремонту фильтров, а также замена сменных элементов</h5>

      <p>Гарантия в отношении работ по установке действует в течение 7 дней со дня установки. В этот период Сервисный центр Sole Aqua обеспечивает устранение протечек в местах соединения фильтра. Отметка об установке фильтра проставляется в договоре, который предоставляется при установке
      </p>

      <h5 class="subtitle">Гарантия не действует:</h5>

      <ul>
        <li>при нарушении правил эксплуатации фильтра</li>
        <li>при неисправностях, возникших в результате небрежного обращения</li>
        <li>при самостоятельном выполнении работ по установке и переустановке с нарушением инструкции или ремонту. При попытке самостоятельной замены на картриджи других моделей</li>
        <li>при выявлении на аппарате внешних физических воздействий в виде трещин, сколов, царапин и других</li>
      </ul>

      <p>Для того, чтобы фильтр служил долго и не предоставлял проблем весь период эксплуатации, необходимо установка специалистами компании или, при невозможности этого, тщательное следование инструкции по установке фильтра. Инструкции вложены в каждую упаковку бытовых фильтров</p>
    </div>

{% endblock %}