{% extends 'base.html' %}
{%block title%}
Оптовики
{%endblock%}

{%block content%}

    <div class="container center">
      <h3 class="title">Оптовики</h3>

      <h5 class="subtitle">Предлагаем приобрести в рассрочку любой товар</h5>

      <p>Рассрочка от 3 - 6 месяцев без переплат и первого взноса. (рассрочка 0-0-3, где 0% переплат, 0% процентов)
 Оформление не займёт много времени</p>

      <h6 class="subtitle">Условия</h6>

      <ul>
        <li>Нужно приехать в офис с паспортом</li>
        <li>Без дополнительных справок</li>
        <li>Одобрение заявки происходит за час</li>
      </ul>

      <h6 class="subtitle">Требования</h6>

      <ul>
        <li>Возраст от 21 года до 65 лет</li>
        <li>Регистрация и нахождение: Российская Федерация</li>
      </ul>

      <h6 class="subtitle">Как всё происходит</h6>

      <p>Менеджер в офисе вместе с Вами оформляет заявку на рассрочку.
 Затем заявка рассматривается банками-партнерами. 
 О принятом решении Вам сообщат в течении часа. После одобрения, менеджер позвонит и согласует время и место для подписания платежных документов</p>

    </div>

{%endblock%}
